.btn-Large {
  padding: 14px 24px;
  border: 0 none;
  font-weight; 700;
  font-size: 22px
  letter-spacing: 1px;
  text-transform: uppercase;
}

.login {
	padding: 250px 250px;
  border: 50 none;
  font-weight; 700;
  font-size: 22px
  letter-spacing: 1px;
  text-align: center;
vertical-align: middle;
}