{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to BoodleRunner</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% load staticfiles %}
</head>

<body class="body" style="background-color:#DCDCDC	">
{% load crispy_forms_tags %}
	<div class="container text-center">
    <div class="panel-heading">
      <h3 class="panel-title"> Add order</h3>
    </div>
		<div class='col-md-3'>
		<form action="/post_url/" method="post">
  		{% csrf_token %}
      {{form|crispy}}
  		<!--{{ form.as_p }} -->
  		<input class="btn btn-warning btn-lg pull-right"   type="submit" value="submit info and confirm runner" />
		</form>
	</div>
	</div>
    </body>
</html>