{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to BoodleRunner</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% load staticfiles %}
</head>

<body class="body" style="background-color:#DCDCDC	">

	<div class="container text-center">
		<div class='col-lg-4'>
		<form action="order/" method="post">
  		{% csrf_token %}
  		{{ form.as_p }}
      <button type="submit" class="btn btn-warning btn-lg pull-right"><a href="{% url 'reciept' %}">Submit order and confirm number</a></button>
		</form>
	</div>
	</div>
    </body>
</html>