{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to BoodleRunner</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% load staticfiles %}
</head>

<body class="body" style="background-color:#DCDCDC	">

{% block body %}

  <div class="container">
    <h2>Welcome to Boodle Runner</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-default"><a href="{% url 'signup' %}">Create an account</a></button>
      <button type="submit" class="btn btn-default"><a href="{% url 'login' %}">Create an account</a></button>
    </form>
<form method="post" action="."> 
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit">

  </form>


  </div>
{% endblock %}



    </body>
</html>