{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to BoodleRunner</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% load staticfiles %}
</head>
<style>
    body {
        background-image: url('{% static "image/background.png" %}') no-repeat center center fixed;
        -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
        }
</style>
<body class="body" style="background-color:#DCDCDC	">

{% block body %}
  <div class="container">
    <h2>Welcome to Boodle Runner</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-default"><a href="{% url 'signup' %}">Create an account</a></button>
        <button type="submit" class="btn btn-default"><a href="{% url 'signup' %}">Login</a></button>
        
    </form>
  </div>
{% endblock %}

    </body>
</html>