{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to BoodleRunner</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% load staticfiles %}
</head>
<br>
    <br><br>
    <br>
<body class="body" style="background-color:#DCDCDC	">
<div class="container panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> Update your contact information</h3>
  </div>
  <div class='col-md-3'>
	 <div class="container text-center">
		<div class='col-lg-4'>
		 <form action="runner/" method="post">
  		{% csrf_token %}
  		{{ form| crispy}}
  		<input type="submit" value="submit" />
		 </form>
	 </div>
	</div>
</div>
</div>
    </body>
</html>